@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  list-style: none;
  text-decoration: none;
}
header {
  background-color: #fff8f3;
  padding: 50px 0;
}
nav {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: #474747;
}
ul li a {
  color: #474747;
  font-size: 20px;
}
button {
  color: #ffffff;
  background-color: #fd6e0a;
  border: none;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 35px;
  cursor: pointer;
}
.logo {
  font-size: 45px;
  font-weight: 800;
}
.logoSpan {
  color: #fd6e0a;
}
