@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  list-style: none;
  text-decoration: none;
  vertical-align: middle;
}
header {
  background-color: #fff8f3;
  padding-top: 50px;
  background-image: url("/images/developer.png"), url("/images/header_bg.png");
  background-repeat: no-repeat;
  background-position: 23px 38px, right bottom;
}
nav {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: #474747;
}
ul li a {
  color: #474747;
  font-size: 20px;
}
button {
  color: #ffffff;
  background-color: #04adcf;
  border: none;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 35px;
  cursor: pointer;
  border-radius: 5px;
}

.logo {
  font-size: 45px;
  font-weight: 800;
}
.logoSpan {
  color: #fd6e0a;
}

/* Banner Section CSS */
#bannerPart {
  display: flex;

  justify-content: space-between;
  align-items: center;
  margin: 47px 38px 0 230px;
}
.bannerLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 585px;
  margin-left: 100px;
}
.bannerLeft h2 {
  color: #474747;
  font-weight: 600;
  font-size: 45px;
}
.bannerLeft h1 {
  font-weight: 700;
  font-size: 85px;
}
.bannerLeft p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 20px;
}
.btn-modify {
  background-color: #fff8f3;
  color: #04adcf;
  border: 1px solid #04adcf;
  margin-left: 20px;
}

.bannerRight img {
  width: 585px;
}
/* Abbout part CSS */
#aboutPart {
  width: 1140px;
  margin: 130px auto;
  background-color: #fff8f3;
}
.aboutWrapper {
  width: 827px;
  margin: 0 auto;
  padding: 131px 60px;
}
.aboutWrapper h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #181818;
  font-weight: 700;
  font-size: 35px;
}
.aboutWrapper .aboutPara {
  color: #757575;
  margin-bottom: 30px;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
}
.myDetails {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0 30px;
}
.myDetails p {
  font-size: 20px;
  line-height: 30px;
  color: #757575;
}
.myDetails h6 {
  font-size: 17px;
  line-height: 30px;
  color: #181818;
  font-weight: 700;
}
/* Offer part CSS */
#offerPart {
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 130px;
}
#offerPart .offerTop {
  text-align: center;
  max-width: 827px;
  margin: 0 auto;
}
#offerPart .offerTop h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #181818;
  font-weight: 700;
  font-size: 35px;
}
#offerPart .offerTop p {
  font-size: 20px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 50px;
}
.mySkill {
  display: flex;
}
.skillItems {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 24px;
  width: 267px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.6);
}
.mySkill .skillItems img {
  width: 50px;
  height: 50px;
}
.mySkill .skillItems p {
  line-height: 30px;
  font-size: 16px;
  color: #757575;
}
/* Education part CSS */
#educationPart {
  padding-bottom: 113px;
  max-width: 1140px;
  margin: 0 auto;
}
#educationPart .educationHeading h2 {
  text-align: center;
  margin-bottom: 113px;
  color: #181818;
  font-weight: 700;
  font-size: 35px;
}
.educationWrapper {
  display: flex;
  justify-content: space-between;
}
.educationItems {
  margin-bottom: 60px;
}
.educationWrapper .educationLeft {
  max-width: 511px;
}
.educationWrapper .educationLeft h2 {
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 700;
  color: #474747;
}
.educationWrapper .educationLeft h3 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #474747;
}
.educationWrapper .educationLeft h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #757575;
}
.educationWrapper .educationLeft p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #757575;
}
.educationButton {
  text-align: center;
}
/* Footer part CSS */
#footerPart {
  background-color: #fff8f3;
  padding: 130px 0;
}
.footerWrapper {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.social {
  width: 562px;
}
.social h2 {
  font-size: 35px;
  font-weight: 700;
  color: #181818;
  margin-bottom: 20px;
}
.social p {
  font-size: 16px;
  color: #474747;
  line-height: 28px;
  margin-bottom: 30px;
}
.social .icons {
  display: flex;
  gap: 24px;
  color: #04adcf;
  font-size: 24px;
}
.form {
  width: 462px;
}
.form h2 {
  font-size: 35px;
  font-weight: 700;
  color: #181818;
  margin-bottom: 20px;
}
.form input,
.form textarea {
  width: 100%;
  padding: 18px 31px;
  margin-bottom: 24px;
  border: none;
  border-radius: 5px;
  color: #757575;
}
