@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  list-style: none;
  text-decoration: none;
  vertical-align: middle;
}
header {
  background-color: #fff8f3;
  padding-top: 50px;
  background-image: url("/images/developer.png"), url("/images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, right bottom;
}
nav {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  color: #474747;
}
ul li a {
  color: #474747;
  font-size: 20px;
}
button {
  color: #ffffff;
  background-color: #fd6e0a;
  border: none;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 35px;
  cursor: pointer;
  border-radius: 5px;
}
.logo {
  font-size: 45px;
  font-weight: 800;
}
.logoSpan {
  color: #fd6e0a;
}

/* Banner Section CSS */
#bannerPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 47px 38px 0 200px;
}
.bannerLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 585px;
}
.bannerLeft h2 {
  color: #474747;
  font-weight: 600;
  font-size: 45px;
}
.bannerLeft h1 {
  font-weight: 700;
  font-size: 85px;
}
.bannerLeft p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 20px;
}
.buttonWrapper {
  display: flex;
  gap: 30px;
}
.bannerRight img {
  width: 585px;
}
/* Abbout part CSS */
#aboutPart {
  width: 1140px;
  margin: 130px auto;
  background-color: #fff8f3;
}
.aboutWrapper {
  width: 827px;
  margin: 0 auto;
  padding: 131px 60px;
}
.aboutWrapper h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #181818;
  font-weight: 700;
  font-size: 35px;
}
.aboutWrapper .aboutPara {
  color: #757575;
  margin-bottom: 30px;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
}
.myDetails {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0 30px;
}
.myDetails p {
  font-size: 20px;
  line-height: 30px;
  color: #757575;
}
.myDetails h6 {
  font-size: 17px;
  line-height: 30px;
  color: #181818;
  font-weight: 700;
}
/* Offer part CSS */
#offerPart {
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 130px;
}
#offerPart .offerTop {
  text-align: center;
  max-width: 827px;
  margin: 0 auto;
}
#offerPart .offerTop h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #181818;
  font-weight: 700;
  font-size: 35px;
}
#offerPart .offerTop p {
  font-size: 20px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 50px;
}
.mySkill {
  display: flex;
}
.skillItems {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 24px;
  width: 267px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgb(201, 194, 194);
}
.mySkill .skillItems img {
  width: 50px;
  height: 50px;
}
.mySkill .skillItems p {
  line-height: 30px;
  font-size: 16px;
  color: #757575;
}
