/* =====Extra small devices===== */
@media (max-width: 575.98px) {
  #bannerPart,
  #offerPart {
    margin: 20px;
  }
  nav,
  .social,
  .form {
    width: 100%;
  }

  button {
    font-size: 20px;
    font-weight: 600;
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 5px;
    transition: all linear 0.4s;
  }
  .buttonWrapper {
    display: flex;
  }
  .bannerLeft,
  .bannerRight img {
    width: 100%;
  }
  .bannerLeft h1,
  .bannerLeft h2 {
    font-size: 40px;
  }
  #aboutPart {
    width: 100%;
    margin: 0;
  }
  .aboutWrapper {
    width: 90%;
  }
  nav,
  .mySkill,
  #bannerPart,
  .myDetails,
  .mySkill,
  .educationWrapper,
  .footerWrapper {
    flex-direction: column;
  }
  .mySkill {
    gap: 10px;
  }
  .skillItems {
    width: 100%;
    margin: 0;
  }
  .educationWrapper,
  .footerWrapper {
    justify-content: center;
    padding: 0px 15px;
    gap: 30px;
  }

  #educationPart .educationHeading h2 {
    margin-bottom: 50px;
  }
  #footerPart {
    padding: 50px 0;
  }
}
